<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Dorm Request</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Dorm Request</h1>

					<a href="/items" class="btn btn-lg btn-primary">View items</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
